:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #292961;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

.purchase-form {
  min-width: 150px;
  max-width: auto;
  width: 100%;
}

.item-width {
  padding: 16px;
  width: 60%;
}

example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.item-hint {
  color:#0000ff;
}

.category-width {
  width: 14%;
}

.amount-width {
  width: 6%;
}

.card-container {
  float: right;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 60px;
  padding: 16px;
  margin: 25px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

#add-to-cart, #add-to-cart:hover:disabled {
  background-color: #daa520;
}

#add-to-cart:hover {
  background-color: #c4941c;
}

#add-to-cart:active:enabled, #truncate-table:active:enabled {
  top: 1px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.shopping-cart-title h5 {
  display: inline-flex;
  vertical-align: middle;
}

table {
  width: 100%;
}

.mat-column-item {
  width: 65%;
}

.shopping-cart-form {
  min-width: auto;
  max-width: 80%;
}

.mat-column-amont {
  width: 10%;
}

.form-control option:first-child {
  display: none;
}

.mat-column-price {
  width: 9%;
  padding: 5px 15px;
}

.mat-column-subtotal {
  width: 8%;
}

.mat-column-delete {
  width: 5%;
  cursor: pointer;
}

tr.mat-footer-row {
  font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 980px) {
  .card {
    margin: 25px 0;
  }
}

@media screen and (max-width: 767px) {

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  .card-container {
    display: flex;
    float: none;
    justify-content: center;
  }

  .item-width {
    width: 60%;
  }

  .category-width {
    width: 27%;
  }

  .amount-width {
    width: 13%;
  }

  .mat-column-item {
    width: 50%;
  }

  .shopping-cart-form {
    max-width: 80%;
  }

  .mat-column-amont {
    width: 15%;
  }

  .form-control {
    padding: 0;
    width: 42px;
  }

  .mat-column-price {
    width: 12%;
  }

  .mat-column-subtotal {
    width: 15%;
  }

  .mat-column-delete {
    width: 5%;
  }
}
