<div class="toolbar" role="banner">
  <h3 class="mx-auto">$ales taxes</h3>
</div>

<div class="content" role="main">
  <h5>Choose a category and input an item you want to purchase:</h5>
  <form class="purchase-form" #purchaseform="ngForm">
    <mat-select class="category-width mx-auto" placeholder="Category" name="category" ngModel required>
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.value}}
      </mat-option>
    </mat-select>
    <mat-form-field class="item-width mx-auto">
      <mat-label>Purchase item</mat-label>
      <input matInput placeholder="For example: imported bottle of perfume at 47.50" value="" type="text" name="item"
        ngModel required>
      <mat-hint>Item string should be in format:
        <span class="item-hint">[amount][imported] item at price</span>
        e.g. <span class="item-hint">book at 10</span> or <span class="item-hint">1 imported book at 10</span> etc.
      </mat-hint>
      <mat-error *ngIf="itemHint.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="amount-width mx-auto">
      <mat-label>Amount</mat-label>
      <input matInput type="number" name="amount" ngModel="1" min="1" pattern="\d+" required>
    </mat-form-field>
    <div class="card-container btn-group">
      <button id="add-to-cart" type="button" class="btn btn-block d-flex justify-content-center mt-3"
        (click)="onSubmit(purchaseform)" tabindex="0" [disabled]="!purchaseform.valid">
        <i class="material-icons px-auto">add_shopping_cart</i>
        Add to cart
      </button>
    </div>
  </form>
  <div class="shopping-cart-title mb-2">
    <hr>
    <h5><i class="material-icons">shopping_cart</i>Shopping cart:</h5>
    <div class="card-container float-right">
      <button id="truncate-table" type="button" class="btn btn-outline-danger d-flex justify-content-center"
        (click)="onTruncateTable()" tabindex="0">
        <i class="material-icons px-auto">warning</i>
        Truncate
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="shoppingCart" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let shoppingCart">{{shoppingCart.item}}</td>
    </ng-container>
    <!-- Amont Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="pl-2">Amount</th>
      <td mat-cell *matCellDef="let shoppingCart">
        <form class="shopping-cart-form pl-2">
          <select class="form-control" id="amounts" name="amounts"
            (change)="onChangeAmount(shoppingCart, $event.target.value)">
            <option *ngFor="let amount of amounts" [selected]="amount === shoppingCart.amount">{{amount}}</option>
          </select>
        </form>
      </td>
    </ng-container>
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="border-left">Price</th>
      <td mat-cell *matCellDef="let shoppingCart;" class="border-left">
        {{calculatePrice(shoppingCart) | currency:'EUR'}}
      </td>
    </ng-container>
    <!-- Subtotal Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef class="border-right">Item Total</th>
      <td mat-cell *matCellDef="let shoppingCart; let calculatedPrice;" class="border-right">
        {{subtotal | calculateRowPrice: shoppingCart.amount: calculatePrice(shoppingCart) | currency:'EUR'}}
      </td>
    </ng-container>
    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let shoppingCart"><i class="material-icons pl-4 pt-2"
          (click)="onRemove(shoppingCart.id)">delete</i></td>
    </ng-container>
    <!-- Empty Column -->
    <ng-container matColumnDef="empty">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Taxes Title Column -->
    <!-- ng-container matColumnDef="netto">
      <td mat-footer-cell *matFooterCellDef class="border-left pl-3">Subtotal</td>
    </ng-container -->
    <!-- Tax Total Column -->
    <!-- ng-container matColumnDef="nettototal">
      <td mat-footer-cell *matFooterCellDef class="border-right">{{ netto | currency:'EUR' }}</td>
    </ng-container -->
    <!-- Taxes Title Column -->
    <ng-container matColumnDef="taxes">
      <td mat-footer-cell *matFooterCellDef class="border-left pl-3">Sales Taxes</td>
    </ng-container>
    <!-- Tax Total Column -->
    <ng-container matColumnDef="taxtotal">
      <td mat-footer-cell *matFooterCellDef class="border-right">{{ tax | currency:'EUR' }}</td>
    </ng-container>
    <!-- Total Price Title Column -->
    <ng-container matColumnDef="total">
      <td mat-footer-cell *matFooterCellDef class="border-left pl-3">Total</td>
    </ng-container>
    <!-- Price Total Column -->
    <ng-container matColumnDef="pricetotal">
      <td mat-footer-cell *matFooterCellDef class="border-right">{{ total | currency:'EUR' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- tr mat-footer-row *matFooterRowDef="displayedTotalWithoutTaxesColumns"></tr -->
    <tr mat-footer-row *matFooterRowDef="displayedTaxesColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedTotalColumns"></tr>
  </table>
  <router-outlet></router-outlet>
